ul,
li {
  list-style: none;
}
#home-page {
  flex: 1;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
#product-display {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: flex start;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 6px;
}
#product-display img {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
}
#product-display p {
  flex: 1;
  padding: 10px;
  font-size: 2.6em;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  background-color: white;
}
#reviews {
  flex: 1;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 6px;
}
#review-header {
  padding: 6px 0px 6px 10px;
  font-size: 2.2em;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  background-color: white;
}
#review-cont {
  min-height: 190px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.review-column {
  padding: 10px;
  font-size: 2em;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  background-color: white;
}
#about {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 6px;
}
#about-header {
  padding: 6px 0px 6px 10px;
  font-size: 2.2em;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  background-color: white;
}
#about-text {
  padding: 10px;
  font-size: 2.2em;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  background-color: white;
}
#motto {
  font-size: 1.2em;
}
